main {
    display: grid;
    place-items: center;
    margin: 7rem;
    border-radius: 1.5rem;
    justify-content: center;
}

#eventsContainer {
    margin: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    place-items: center;
    font-weight: 300;
    min-width: 300px;
    max-width: 1000px;
}

.event {
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem #050506;
    padding: 1rem;
    width: fit-content;
    background-color: #e7d9b7;
}

#btnJoinEvent {
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    color: white;
    background-color: #3e8f3e;
}