main {
    display: grid;
    place-items: center;
    margin: 7rem;
    border-radius: 1.5rem;
    justify-content: center;
}

#logo {
    width: 8rem;
    transform: translateY(-3rem);
}

#eventsContainer {
    margin: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    place-items: center;
    font-weight: 300;
    min-width: 300px;
    max-width: 1000px;
}

#registerBtn {
    margin-top: 10px;
}

.event {
    color: #ddefdd;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem #050506;
    width: fit-content;
    overflow: hidden;
    position: relative;
    height: 250px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s ease-in-out;
        
        &:hover {
            transition: transform 0.25s ease-in-out;
            transform: scale(1.1);
        }
    }
    

    .event-body {
        padding: 1rem 1rem 0 1rem;
        background-color: rgba(43, 84, 44, 0.75);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8rem;

        h2, h3, p, a {
            display: inline;
        }
    }
}

#btnJoinEvent {
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    color: white;
    background-color: #3e8f3e;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 170px;
}

.home-page {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 161px;
}

#alreadySub {
    color: #31b0d5;
    background-color: #0505066e;
    border-radius: 1rem;
    padding: 1rem;
}

.d-none {
    display: none;
}
