main {
    display: grid;
    place-items: center;
    margin: 7rem;
    border-radius: 1.5rem;
    justify-content: center;
}

#logo {
    width: 8rem;
    transform: translateY(-3rem);
}

#eventsContainer {
    margin: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    place-items: center;
    font-weight: 300;
    min-width: 300px;
    max-width: 1000px;

    a {
        text-decoration: none;
        color: #ddefdd;
    }

    small {
        color: #d5c075;
    }
}

#registerBtn {
    margin-top: 10px;
}

#contactForm {
    background-color: #FFFFFF99;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem #000000;
    filter: blur(5);

    input, textarea {
        width: 100%;
        padding: .5rem;
        margin: .5rem 0;
        border-radius: 1rem;
        box-shadow: 0 .25rem 1rem #000000;
        background-color: #fff5f5f5;
    }

    label {
        font-weight: bold;
        color: #1e1e24;
    }

    & p {
        color: black;
    }

    button {
        border: none;
        padding: .5rem;
        border-radius: 1rem;
        color: white;
        background-color: #3e8f3e;
    }
}

.event {
    color: #ddefdd;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem #050506;
    width: fit-content;
    overflow: hidden;
    position: relative;
    height: 250px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s ease-in-out;
    }

    &:hover {
        img {
            transition: transform 0.25s ease-in-out;
            transform: scale(1.1);
        }
    }
    
    .event-body {
        padding: 1rem 1rem 0 1rem;
        background-color: rgba(43, 84, 44, 0.75);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8rem;

        h2, h3, p, a {
            display: inline;
        }
    }
}

#btnJoinEvent {
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    color: white;
    background-color: #3e8f3e;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 170px;
}

.home-page {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 161px;
}

.d-none {
    display: none;
}

/* Styles for Event detail */

.detail-header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.detail-header h1 {
    font-size: 4em;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.detail-header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

.detail-header-info p {
    margin: 0;
}

.detail-header-info p > span {
    font-weight: bold;
}

.detail-header-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.detail-header-title a {
    font-size: 1.3em;
}

.detail-main {
    margin: 4rem;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto auto;
}

.detail-desc {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffebca;
}

.detail-desc h2 {
    margin: 5px 0 20px 0;
}

.detail-desc p {
    margin: 0;
}

.detail-info {
    width: 80%;
    min-width: auto;
    padding: 15px 30px;
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: 15px;
    background-color: #facd83;
}

.detail-info p > span {
    font-weight: bold;
}

.detail-attendees {
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    padding: 20px;
}